<!--Creating the delete partials since the delete function would be repeated throughout the webpage-->
<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="submit">Delete</button> 
 </form>