<header>
    <nav>
        <a href="/">Z Track </a>
        <ul>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/customers/new">Add Customers</a></li>
            <li><a href="/branches">Branches</a></li>
            <li><a href="/branches/new">Add Branches</a></li>
            <li><a href="/accounts">Accounts</a></li>
            <li><a href="/accounts/new">Add Accounts</a></li>
            <li><a href="/devices">Devices</a></li>
            <li><a href="/devices/new">Add Devices</a></li>
        </ul>
    </nav>    
</header>