<header>
    <nav class ="header-nav">
        <a class="header-title" href="/dashboard">Z Track </a>
        <ul>
            <li ><a  href="/customers">Customers</a></li>
        <!--    <li><a href="/customers/new">Add New Customers</a></li>-->
            <li ><a href="/branches">Branches</a></li>
         <!--   <li><a href="/branches/new">Add New Branches</a></li>-->
            <li ><a href="/accounts">Accounts</a></li>
         <!--      <li><a href="/accounts/new">Add New Accounts</a></li>
            <li ><a href="/devices">Devices</a></li>-->
            <li ><a href="/services">Service History</a></li>
            <li><a href="/devices/new">Add New Devices</a></li>
            <li>
            <a class="btn btn-danger" href="/logout" role="button">Log Out</a>
        </li>
          <!--     <li><a href="/services/new">Add New Service History</a></li>-->
            
        </ul>
    </nav>    
</header>
<br>
