<%- include('partials/header') %>

<div class="container">
  <h1 class="header-title">Z Track</h1>
  <h1 style="color:black">Login</h1>
        
          <form action="/login" method="POST">
              <div class="form-item">
              <label class="page-sub-header" for="email">Email</label>
              <input type="email" class="form-control" name="username">
              <label class="page-sub-header" for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div> 
            <br>
            <div><button type="submit" class="btn btn-dark">Login</button>
            </div>
            </form>

        </div>
      </div>
    </div>
 