@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/customer.css';

:root {
  font-family: 'Gotham Rounded';
  font-size: 20px;
  color: var(--color-text-light);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  color: rgb(190, 53, 53);
  font-size: 2rem;
  font-weight: 500;
}

.page-sub-header {
  color: rgb(85, 22, 7);
  font-size: 1.5rem;
  font-weight: 400;
}


.page-show {
  color: rgb(85, 22, 7);
  font-size: 1.25rem;
  font-weight: 100;
  margin-bottom: .5rem;
}

.page-show-info {
  color: rgb(53, 48, 117);
  font-size: 1.25rem;
  font-weight: 400;
  margin: auto;
}

.table {
  color: rgb(85, 22, 7);
  font-size: 1.25rem;
  font-weight: 100;
  margin-bottom: .5rem;
}

.page-show-heading {
  color: rgb(187, 38, 38);
  font-size: 1.50rem;
  font-weight: 400;
  margin-bottom: .55rem;
}
.page-show-title {
  color: rgb(187, 38, 38);
  font-size: 1.80rem;
  font-weight: 600;
  margin-bottom: .75rem;
  text-align:center;
}