<%- include ('../dashboard/index.ejs')%>
<h2 class="page-header">Search Accounts</h2>
    <div class="form-item-index">
        <form action="/accounts" method="GET"> 
            <div >
             <label class="page-sub-header">Enter Account Number</label>
            </div>
             <input type="text" name="name" value="<%= searchOptions.name%> ">
             <button class="btn btn-primary" type="submit">Search</button>
             <a class="btn btn-primary-add" href="/accounts/new">Add New Account</a>
        </form>
        <br>
    </div>
    <br>
<% accounts.forEach(account => { %>
    <div class="customer-row">
    <a class="btn btn-primary" href="/accounts/<%=account.id%>"><%= account.name %></a>
    </div>  
<% })%> 
