<h2>Edit Branch</h2>
<form action="/branches/<%= branch.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/branches">Cancel</a>
  <button type="submit">Update</button>
</form>