<%- include ('../dashboard/index.ejs')%>
<h2 class="page-header">Search Service History</h2>
    <div class="form-item-index">
    <form action="/services" method="GET"> 
        <div>
        <label class="page-sub-header">Enter Ticket Number</label>
        </div>
        <input type="text" name="name" value="<%= searchOptions.name%>">
        <button class="btn btn-primary" type="submit">Search</button>
        <a class="btn btn-primary-add" href="/services/new">Add New Service History</a>
    </form>
    <br>
</div>
<br>
<% services.forEach(service => { %>
    <div class="btn-row">
    <a class="btn btn-primary" href="/services/<%=service.id%>">
        <%= service.name %></a>
</div>  
<br>
<% })%> 
