<h2 class="page-header">Search Service History</h2>
<div>
    <a href="/services/new"><button>Add New Service History</button></a></div>
    <div><br>
<form action="/services" method="GET"> 
<div>
    <label>Service Ticket Number</label>
    <input type="text" name="serviceTicketNumber%" value="<%= searchOptions.serviceTicketNumber%> ">
</div>


<button type="submit">Search</button>
</form>
<br>

<% services.forEach(service => { %>
    <div>
    <a href="/services/<%=service.id%>">
        <%= service.serviceTicketNumber %>
</a>
</div>  
<% })%> 