<%- include ('../dashboard/index.ejs')%>
<h2 class="page-header">Search Customers</h2>
  <div class="form-item-index">
    <form action="/customers" method="GET"> 
      <div>
        <label class="page-sub-header">Enter Customer Name</label>
      </div>
      <input type="text" name="name" value="<%= searchOptions.name%> ">
      <button  class="btn btn-primary" type="submit">Search</button>
      <a class="btn btn-primary-add" href="/customers/new">Add New Customer</a> 
    </form>
  </div>
<br>
<% customers.forEach(customer => { %>
  <div class="btn-row"> 
 <a class="btn btn-primary" href="/customers/<%= customer.id %>"><%= customer.name %></a> 
  </div>
  <br>
  <% })%> 